bin/
obj/
*.dll
*.exe
*.pdb
*.zip
*.pkg
*.rar
.vs/
*.user
*.suo
ghidra_12.1.2_PUBLIC/
PS4_Fake_PKG_Tools_3.87_V7/
LibOrbisPkg.v0.2/

# Cross-validation harness (untracked)
/CrossValidation/

# Documentation (untracked)
/docs/

digimon_work/
